<a href="/tracks/<%= track.id %>">
  <li class="list-group-item">
    <% if loggedin? && !Upvote.exists?(session[:user_id], track.id)%>
      <a href="/upvote/<%= track.id %>"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button></a>
    <% end %>
    Title: <%= track.title %> Author: <%= track.author %>
    <% if track.user_id %>
      <small>Posted by: <%= User.find(track.user_id).name %></small>
    <% end %>
    <small><%= track.url %></small>
    <span class="badge"><%= Upvote.count(track.id) %></span>
  </li>
</a>
