<li class="list-group-item">
  <% if loggedin? && !upvoted?(track.id) %>
    <a href="/upvote/<%= track.id %>"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button></a>
  <% end %>
  <a href="/tracks/<%= track.id %>">
    Title: <%= track.title %> Author: <%= track.author %>
    <% if track.user_id %> <!--remove this if when db is reseeded-->
      <small>Posted by: <%= User.find(track.user_id).name %></small>
    <% end %>
  </a>
  <% if track.url %>
    <a href="<%= track.url %>"><small>Link</small></a>
  <% end %>
  <span class="badge"><%= Upvote.count(track.id) %></span>
</li>
